h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
.navbar li.nav-item {
    padding: 10px;
}
.navbar i.material-icons {
    padding-right: 10px;
    padding-left: 10px;
}
#icon-toys {
  color: #3cbbc1;
}
.card {
    border: none;
}
body{
  background-color: #FFFFFF;
}
a.icon-title {
  color: #5fd6e8 !important;
}
.social-media-icons {
  font-size: 40px;
  padding-top: 0px;
}
.fntAweInstagram {
  padding-left: 20px;
  color: black;
}
.fntAweYoutube {
  padding-left: 20px;
  color: black;
}
.fntAweFacebook {
  padding-left: 20px;
  color: black;
}
