<nav class="navbar navbar-light bg-light">  
  <div class="collapse navbar-collapse" id="navbarNav">
    <a class="navbar-brand" href="#"> Kylies Workshop </a>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://youtube.com/kyliesworkshop">YouTube</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gallery</a>
      </li>
    </ul>
  </div>
</nav>
