<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container">
    <img class="iconimage" src="../images/icon.png" alt="icon">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarRight" aria-controls="navbarRight" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarRight">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          {% if page.active_nav == 'home' %}
              <a class="nav-link active" href="#">Home</a>
          {% else %}
              <a class="nav-link" href="/">Home</a>
          {% endif %}
        </li>
        <li class="nav-item">
          {% if page.active_nav == 'goals' %}
              <a class="nav-link active" href="#">Goals</a>
          {% else %}
              <a class="nav-link" href="/goals">Goals</a>
          {% endif %}
        </li>
        <li class="nav-item">
          {% if page.active_nav == 'youtube' %}
              <a class="nav-link active" href="#">YouTube</a>
          {% else %}
              <a class="nav-link" href="/youtube">YouTube</a>
          {% endif %}
        </li>
        <li class="nav-item">
          {% if page.active_nav == 'gallery' %}
              <a class="nav-link active" href="#">Gallery</a>
          {% else %}
              <a class="nav-link" href="/gallery">Gallery</a>
          {% endif %}
        </li>
        <li class="nav-item">
          {% if page.active_nav == 'contact' %}
              <a class="nav-link active" href="#">Contact</a>
          {% else %}
              <a class="nav-link" href="/contact">Contact</a>
          {% endif %}
        </li>

      </ul>
    </div>
  </div>
</nav>
